
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
// font-family: 'Open Sans', sans-serif;
@font-face {
    font-family: MyriadPro;
    src: url(../font/MyriadPro-CondIt.otf);
}
@font-face {
    font-family: Myriad;
    src: url(../font/MyriadProRegular.ttf);
}


@media (max-width: 1584px){
	#the_our_word{
		.galary{
			.box{
				height: 255px !important;

			}
		}
	}
}

@media (max-width: 1530px){
	#the_our_word{
		.galary{
			.box{
				height: 255px !important;

			}
		}
	}
}

@media (min-width: 1200px){
	#info{
		.mgt{
			.content{
				p{
					width: 66%;
				}
			}
		}
	}
}

@media (max-width: 1200px) {
   
}

@media (max-width: 1199px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 370px !important;
					// margin-top: 6%;
				}
			}
		}
	}
	#the_our_word{
		.galary{
			.box{
				height: 210px !important;

			}
		}
	}
}

@media (max-width: 1092px){
	#the_our_word .text ul li a{
		font-size: 15px !important;
	}
}

@media (max-width: 1024px){
	
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 370px !important;
				}
			}
		}
	}

	#the_our_word{
		.galary{
			.box{
				height: 210px !important;

			}
		}
	}
}
@media (max-width: 991px){
	.navbar-nav .nav-item .nav-link+.sub-active{
        background: transparent!important;
        // COLOR: #0092ff!important;
    }
    .navbar-nav .nav-item .nav-link:hover{
    	color: #0092ff!important;
    }
     
     .navbar-nav .nav-item .nav-link.active{
     	color: #0092ff!important;
        
    }


    #info{
		.box-info{
			.image_right{
				.ficture{
					height: 690px !important;
					margin-top: 6%;
				}
			}
		}
	}


	#footer{
		.copyright{
			margin: 0px !important;
		}
		.social_list {
			margin-bottom: 10px;
		}
	}

	nav.navbar{
		margin-top: 0px !important;
		background : #343a40 !important;
		transition: 0.6s;
	}
}

@media (max-width: 880px){

}

@media (max-width: 768px){
	// #the_our_word .text ul li a{
	// 	    font-size: 15px !important;
	// }
	

	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 690px !important;
					margin-top: 6%;
				}
			}
		}
	}

	#the_our_word .text ul{
		padding: 0 !important;
	}

	#the_our_word .text ul li a{
		font-size: 16px !important;
	}
}

@media (max-width: 767px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 510px !important;
				}
			}
		}
	}

	#the_our_word{
		.galary{
			.item{
				margin-bottom: 4% !important;
			}
			.box{
				height: 240px !important;

			}
		}
	}
}

//start media
@media (max-width: 576px) {
    #the-characters{
		.slickSlide{
			.ficture{
				height: 355px !important;
			}
		}
    }

 
}

@media (max-width: 575px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 528px !important;
				}
			}
		}
	}
}

@media (max-width: 572px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 525px !important;
				}
			}
		}
	}
}

@media (max-width: 564px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 517px !important;
				}
			}
		}
	}
}

@media (max-width: 559px){
	
}

@media (max-width: 549px){
	#the_our_word{
		.galary{
			.box{
				height: 236px !important;

			}
		}
	}
}


@media (max-width: 540px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 493px !important;
				}
			}
		}
	}
	#the_our_word{
		.galary{
			.box{
				height: 231.5px !important;

			}
		}
	}
}

@media (max-width: 526px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 481px !important;
				}
			}
		}
	}
	#the_our_word{
		.galary{
			.box{
				height: 225.5px !important;

			}
		}
	}
}

@media (max-width: 515px){
	#the_our_word{
		.galary{
			.box{
				height: 219px !important;

			}
		}
	}
}

@media (max-width: 511px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 464px !important;
				}
			}
		}
	}
}

@media (max-width: 504px){
	#the_our_word{
		.galary{
			.box{
				height: 213px !important;

			}
		}
	}
}

@media (max-width: 500px){
	
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 453px !important;
				}
			}
		}
	}
}

@media (max-width: 491px){
	
}

@media (max-width: 486px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 439px !important;
				}
			}
		}
	}
	#the_our_word{
		.galary{
			.box{
				height: 204px !important;

			}
		}
	}
}

@media (max-width: 473px){
	#footer {
		.copyright{
			p{
				font-size: 10px !important;
				margin-bottom: 0px;
			}
		}		
	}

	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 426px !important;
				}
			}
		}
	}
}

@media (max-width: 463px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 416px !important;
				}
			}
		}
	}
	#the_our_word{
		.galary{
			.box{
				height: 193px !important;

			}
		}
	}
}

@media (max-width: 456px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 409px !important;
				}
			}
		}
	}
}

@media (max-width: 451px){
	#the_our_word{
		.galary{
			.box{
				height: 186px !important;

			}
		}
	}
}

@media (max-width: 450px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 403px !important;
				}
			}
		}
	}
	
}

@media (max-width: 445px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 398px !important;
				}
			}
		}
	}
	
}

@media (max-width: 439px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 392px !important;
				}
			}
		}
	}
	#the_our_word{
		.galary{
			.box{
				height: 181px !important;

			}
		}
	}
}

@media (max-width: 430px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 383px !important;
				}
			}
		}
	}
	
}

@media (max-width: 424px){
	#the_our_word{
		.galary{
			.box{
				height: 172px !important;

			}
		}
	}
}

@media (max-width: 414px){
	header{
		background-position: 0px 2500px; 
	}

	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 384px !important;
					// margin-top: 6%;
				}
			}
		}
	}

	#the_our_word{
		.galary{
			.item{
				    margin-bottom: 6% !important;
			}
			
		}
	}
}

@media (max-width: 411px){

	#the_our_word .galary .item .box .img {
	    width: 169px !important;
    		height: 169px !important;
	}
	header#header .head .text-center h2{
		    margin-top: 250px !important;
	}

	header#header .head .center-block {
	    margin-top: 126px !important;
	    margin-bottom: 71px !important;
	}
	#the_novellas h3{
		margin-top: 12% !important;
	}
	#the_novellas .slickSlide {
	    padding-bottom: 6% !important;
	}
}

@media (max-width: 404px){
	
}

@media (max-width: 375px){
	#the-characters .slickSlide .slick-list {
	    padding-bottom: 6%;
	}
	header{
		.head{
			.text-center{
				h2{
					    font-size: 38px !important;
				}
			}
		}
	}


	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 345px !important;
					// margin-top: 6%;
				}
			}
		}
	}
	#the_our_word{
		.galary{
			.item{
				    margin-bottom: 5% !important;
			}
			.box{
				height: 157px !important;

			}
		}
	}
}

@media (max-width: 360px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 330px !important;
					// margin-top: 6%;
				}
			}
		}
	}

	#the_our_word{
		.text-lg-right{
			.text{
				ul{
					li{
						float: none;
						margin-left: 5px;
						a{
							font-size: 16px !important;
						}
					}
				}
			}
		}
		
		.galary{
			.item{
				        margin-bottom: 6% !important;
			}
			
		}
	}
}

@media (max-width: 320px){
	#info{
		.box-info{
			.image_right{
				.ficture{
					height: 290px !important;
					// margin-top: 6%;
				}
			}
		}
	}

	// #the_our_word .galary .item .box .img {
	//     width: 133px !important;
	//     height: 133px !important;
	//     text-align: center;
	// }

	#the_our_word {
		ul#filter_control{
			li{
				a{
					font-size: 15px !important;
					text-align: center;
				}
			}
		}
		.galary{
			overflow: hidden !important;
			.item{
				.box{
					height: 130px !important;
				}
			}
		}
	}

}

	#the-characters .text-center h3{
		font-size: 32px !important;
	}


	#the_crew h3 {
	    font-family: 'Open Sans';
	    font-size: 32px !important;
	}
	#the_novellas h3 {
		font-size: 32px !important;
		    margin-top: 48px !important;
		.slickSlide{
			padding-bottom: 9% !important;
		}
	}
	#the_our_word .the_our_word_head h3{
		font-size: 32px !important;
	}
	// #the_our_word .text ul li a{
	// 	font-size: 14px !important;
	// }
	#bazaar h3{
		font-size: 32px !important;
	}
	#contact_us h3{
		font-size: 32px !important;
	}




// menu
@media (max-width: 360px){
	nav a.navbar-brand i{
		    font-size: 27.4px !important;
	}
	
	#the-characters .text-center h3{
		font-size: 32px !important;
	}

	#the_crew h3 {
	    font-family: 'Open Sans';
	    font-size: 32px !important;
	}
	#the_novellas h3 {
		font-size: 32px !important;
		    margin-top: 48px !important;
		.slickSlide{
			padding-bottom: 9% !important;
		}
	}
	#the_our_word .the_our_word_head h3{
		font-size: 32px !important;
	}
	// #the_our_word .text ul li a{
	// 	font-size: 14px !important;
	// }
	#bazaar h3{
		font-size: 32px !important;
	}
	#contact_us h3{
		font-size: 32px !important;
	}

	// #the_our_word .galary .item .box{
	// 	width: 150px !important;
 //    	height: 150px !important;
	// }
}

@media (max-width: 320px){
	nav.navbar{
		a.navbar-brand{
			i{
				font-size: 29.4px !important;
			}
		}
	}
	header#header{
		.head{
			.text-center{
				h2{
					margin-top: 182px !important;
				}
			}
			.center-block{
				    margin-top: 84px !important;
			}
		}
	}

	
	#info .text-center.mgt h3{
		font-size: 30px !important;
	}


	#the-characters .text-center h3 {
	    font-size: 32px !important;
	}

	#the_crew h3 {
	    font-size: 32px !important;
	    margin-top: 12% !important;
	}
	#the_novellas h3 {
	    font-size: 32px !important;
	    margin-top: 12% !important;
	    margin-bottom: 3%;
	}
	#the_our_word .the_our_word_head h3 {
		font-size: 32px !important;
	}

	#the_our_word .filter {
	    text-align: center !important;
	}

	#the_our_word .text ul {
		padding: 0 !important;
    	text-align: center !important;
    	li{
    		a{
    			font-size: 14px !important;
    		}
    	}
	}

	
	

	

	#bazaar h3 {
	    font-size: 32px !important;
	    margin-top: 13% !important;
	}
	#contact_us h3{
		font-size: 32px !important;
	}

}
// end menu
//end media
.hide{
	opacity: 0;
	display: none;
}
.show{
	opacity: 1;
	display: block
}
nav{
	margin-top: 2%;
	a.navbar-brand{
		i{
			font-family: MyriadPro,'Open Sans'; 
			font-size: 36.4px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 1;
		  letter-spacing: normal;
		  text-align: left;
		  color: #00a8ff;
		  text-transform: uppercase;
		}
	}
	.navbar-nav .nav-item .nav-link+.sub-active{
        height: 3px;
        background: transparent;
        width: 60%;
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0 auto;
        -webkit-transition: background .2s;
        transition: background .2s;
        bottom:0px;
    }
     .navbar-nav .nav-item .nav-link:hover+.sub-active,
     .navbar-nav .nav-item .nav-link.active+.sub-active{
        background: #0092ff;
    }
    
	.navbar-toggler:not(:disabled):not(.disabled) {
	    cursor: pointer;
	    border: 1px solid #fff;
	}



	#navbarSupportedContent{
		ul{
			li{
				a{
					font-family: Myriad,'Open Sans';
					  font-size: 16px;
					  font-weight: normal;
					  font-style: normal;
					  font-stretch: normal;
					  line-height: 1.5;
					  letter-spacing: normal;
					  text-align: left;
					  color: #ffffff;
					  text-transform: uppercase;
					  // margin-left: 13px;

					  content : "";
				
				}
			}
		}
	}
}

header#header{
	background: url(../images/bg-header.png) no-repeat;
	background-size: cover;
	.head{
		.text-center{
			font-family: 'Open Sans';
			  font-size: 20px;
			  font-weight: normal;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: 1.2;
			  letter-spacing: -1px;
			  text-align: center;
			  color: #b2b1b1;
			  margin-top: 25px;

			  h2{
				font-family: 'Open Sans';
				font-size: 2.6em;
				  font-weight: 300;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: 0.55;
				  letter-spacing: -2.2px;
				  text-align: center;
				  color: #00a5ff;
				  margin-top:297px;
				  text-transform: uppercase;
			}
			p{
				font-family: 'Open Sans';
				  font-size: 20px;
				  font-weight: normal;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: 1.2;
				  letter-spacing: -1px;
				  text-align: center;
				  color: #b2b1b1;
				  margin-top: 25px;

			}
		}
		
		

		.center-block{
			margin-top:220px;
			margin-bottom: 90px;
			.cricle{
				position: relative;
				width: 50px;
				height: 50px;
				border-radius:50%;
				border: 1px solid #bebebe;
				margin: auto;
				cursor: pointer;
				i{
				    position: absolute;
				    color: #c4c4c5;
				    top: 15px;
				    left: 17px;
				    font-weight: 600;
				}
			}
		}
		
	}
}

#info{
	.box-info{
		margin-top: 7%;
		margin-bottom: 7%;
		.text_left{
			h3{
				text-transform: uppercase;
				margin-top: 0%;
				font-family: 'Open Sans';
				  font-size: 34px;
				  font-weight: bold;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: 1.09;
				  letter-spacing: -0.7px;
				  color: #222222;
				span{
					font-weight: normal;
				}
			}
			img.one {
			    margin-top: 9px;
			    margin-bottom: 24px;
			}
			
			.content{
				p{
					font-family: 'Open Sans';
					  font-size: 18px;
					  font-weight: normal;
					  font-style: normal;
					  font-stretch: normal;
					  line-height: 1.39;
					  letter-spacing: -0.7px;
					  color: #6c6c6c;
				}
				.sub-title{
					margin-bottom: 3.3%;
				}
			}
			.rectangle{
				margin-top: 5% !important;
				cursor: pointer;
				width: 192px;
				height: 45px;
				border: 1px solid #7f7f7f;
				position: relative;
				img{
					position: absolute;
					top: 17px;
		    		left: 46px;
				}
				a{
					position: absolute;
					top: 7px;
		    		left: 68px;
		    		font-family: 'Open Sans';
				  font-size: 12px;
				  font-weight: 600;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: 2.75;
				  letter-spacing: 0.3px;
				  color: #616161;
				  text-transform: uppercase;
				  &:hover{
				  	text-decoration: none;
				  }
				}
			}
		}
		.image_right{
			.ficture{
				width: 100%;
				height: 445px;
				
			}
			margin: 0;
		}
	}
}


#the-characters{
	background: url("../images/bg_section_1.png");
	background-size: cover;
	.title_character{
		    padding-top: 9%;
	}
	.text-center{
		h3{

		font-family: 'Open Sans';
		  font-size: 44px;
		  font-weight: 300;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 0.55;
		  letter-spacing: normal;
		  color: #ffffff;
		  // margin-top: 9%;
		}
		img.one {
		    margin-top: 2.2%;
		}
		img.two {
		    margin-top: 0.3%;
		    margin-bottom: 0.5%;
		}
	}

	.slickSlide{
		margin-top: 1%;
		margin-bottom: 1%;
		.slick-list{
			padding-bottom: 10%;
		}
		.img{
			width: 208px;
			margin:0 auto;
		}
		h5{
			font-family: 'Open Sans';
			  font-size: 20px;
			  font-weight: bold;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: 1.2;
			  letter-spacing: normal;
			  text-align: center;
			  color: #ffffff;
			  margin-top: 7%;
		}
		p{
			font-family: 'Open Sans';
			font-size: 14px;
		  font-weight: normal;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 1.71;
		  letter-spacing: normal;
		  text-align: center;
		  color: #ffffff;
		  margin-top: 9%;
		      padding: 0 6%;
		}
		.slick-dots {
			bottom: 20px;
			li{
					display: inline-block;
				    width: 10px;
				    height: 10px;
				    margin: 0 5px;
				    padding: 0;
				    background:#fff;
				    cursor: pointer;
				    button{
				    	&:before{
				    		content: none;
				    	}
				    }			    
			}
			li.slick-active{
			background:#00a8ff;
		}
		}
		
	}
}


#the_crew{
	h3{
		font-family:  'Open Sans';
		  font-size: 44px;
		  font-weight: 300;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 0.55;
		  letter-spacing: normal;
		  color: #222222;
		  margin-top: 9%;
	}
	p{
		font-family:  'Open Sans';
	  font-size: 16px;
	  font-weight: normal;
	  font-style: italic;
	  font-stretch: normal;
	  line-height: 1.5;
	  letter-spacing: normal;
	  text-align: center;
	  color: #6c6c6c;
	  i{
	  	font-family:  'Open Sans';
	  font-size: 16px;
	  font-weight: normal;
	  font-style: italic;
	  font-stretch: normal;
	  line-height: 1.5;
	  letter-spacing: normal;
	  text-align: center;
	  color: #6c6c6c;
	  }
	}
	.author{
		margin-top: 2%;
    	margin-bottom: 2%;
    	font-family:  'Open Sans';
    	 font-size: 16px;
		  font-weight: normal;
		  font-style: italic;
		  font-stretch: normal;
		  line-height: 1.5;
		  letter-spacing: normal;
		  text-align: center;
		  color: #6c6c6c;
	}

	.one{
		margin-top: 2.5% !important;
	}
	.two{
		    margin-bottom: 3%;
    		margin-top: 1%;
	}
	.rectangle{
		width: 192px;
		height: 45px;
		border: 1px solid #7f7f7f;
		// border-radius:5px;
		position: relative;

		margin-bottom: 6% !important;
		img{
			position: absolute;
			top: 17px;
    		left: 46px;
		}
		a{
			position: absolute;
			top: 7px;
    		left: 68px;
    		font-family: 'Open Sans';
		  font-size: 12px;
		  font-weight: 600;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 2.75;
		  letter-spacing: 0.3px;
		  color: #616161;
		  text-transform: uppercase;
		  &:hover{
		  	text-decoration: none;
		  }
		}
	}
}

#the_novellas{
	background: url("../images/the_novollas.png");
	background-size: cover;
	h3{
		font-family: 'Open Sans';
	  font-size: 44px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 0.55;
	  letter-spacing: normal;
	  color: #ffffff;
	  margin-top: 8%;
	  margin-bottom: 2%;
	}
	img.two{
		margin-bottom: 5%;
		margin-top: 3px;
	}
	.slickSlide{
		padding-bottom: 13%;
		.slick-slide:focus{
			outline: none;
		}
		.slick-dots {
				bottom: 28%;
				li{
						display: inline-block;
					    width: 10px;
					    height: 10px;
					    margin: 0 5px;
					    padding: 0;
					    background:#fff;
					    cursor: pointer;
					    button{
				    	&:before{
				    		content: none;
				    	}
				    }				    
				}
				li.slick-active{
				background:#00a8ff;
			}
		}
		.item{
			.box{
				border:1px solid #3e3e3e;
				height: 105px;
				display: flex;
			  	align-items: center;
			  	justify-content: center;
			  	background:#000;
			  	p{
			  		font-family: 'Open Sans';
					  font-size: 20.4px;
					  font-weight: 300;
					  font-style: normal;
					  font-stretch: normal;
					  letter-spacing: normal;
					  color: #cbcbcb;
					  margin: 0px;
			  	}


			}
			p{

			}
		}
	}
}

#the_our_word{
	.the_our_word_head{
		margin-bottom: 6%;
		h3{
			font-family: 'Open Sans';
			font-size: 44px;
		  font-weight: 600;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 0.55;
		  letter-spacing: normal;
		  color: #222222;
		  text-transform: uppercase;
		  margin-top: 9%;
		}
		.one{
			margin-top: 2.5%;
		}
		.two{
			margin-bottom: 3%;
    		margin-top: 1%;
		}
		
		p{
			font-family: 'Open Sans';
			font-size: 16px;
		  font-weight: normal;
		  font-style: italic;
		  font-stretch: normal;
		  line-height: 1.5;
		  letter-spacing: normal;
		  text-align: center;
		  color: #6c6c6c;
		}
	}
	.text{
		ul{
			list-style: none;
			li{
				list-style: none;
				display: inline-block;
				margin-left: 10px;
				a{
					font-family: 'Open Sans';
					  font-size: 18px;
					  font-weight: normal;
					  font-style: normal;
					  font-stretch: normal;
					  line-height: 1.33;
					  letter-spacing: normal;
					  text-align: center;
					  color: #6c6c6c;
				}
				.active{
					font-weight: 600;
  					color: #222222;
				}
			}
			span{
				margin-left: 2%;
			}
		}
		p{
			a{
				font-family: 'Open Sans';
			  font-size: 18px;
			  font-weight: 600;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: 1.33;
			  letter-spacing: normal;
			  color: #222222;
			  text-transform: uppercase;
			  
			}
			span{
				a{
					color:#787878;
				}
			  	
			  }
			
		}
	}
	.filter{
	font-family: 'Open Sans';
	  font-size: 18px;
	  font-weight: 600;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.33;
	  letter-spacing: normal;
	  color: #13121a;
	  text-transform: uppercase;
	}
	.galary{
		transition: 0.4s;
		margin-top: 2%;
		margin-bottom: 6.4%;
		.item{						
				margin-bottom: 2.5%;
			.box{
				margin-bottom: 20px ;
				overflow: hidden;
				transition: 0.6s;
				position: relative;
				width: 100%;
				height: 260px;
				
				.img{
					width: 100% !important;
					height: 100% !important;
					&:hover{
						position: absolute;
						top:0;
						left: 0;
						transform: scale(1.1);
						opacity: 0.6;
						transition: 0.4s;
					}
				}
			}
		}
	}
}

#bazaar{
	background: url("../images/bg_bazaar.png");
	background-size: cover;
	.text-center{
		padding-bottom: 8%;
	}
	h3{
		font-family: 'Open Sans';
	  font-size: 44px;
	  font-weight: 600;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 0.55;
	  letter-spacing: normal;
	  color: #ffffff;
	  margin-top: 11%;
	}
	p{
		font-family: 'Open Sans';
			font-size: 16px;
			  font-weight: normal;
			  font-style: italic;
			  font-stretch: normal;
			  line-height: 1.5;
			  letter-spacing: normal;
			  text-align: center;
			  color: #f0f0f0;
			font-style: italic;
	}

	.one{
		margin-top: 3%;
    	margin-bottom: 1%;
	}
	.two{
		 margin-bottom: 4%;
	}
}


#contact_us{
	h3{
		margin-top: 12%;
		font-family: 'Open Sans';
		text-transform: uppercase;
		  font-size: 44px;
		  font-weight: 300;
		  font-style: normal;
		  font-stretch: normal;
		  letter-spacing: normal;
		  color: #222222;
	}
	.one{
		margin-top: 1.7%;
    	margin-bottom: 1.5%;
	}
	.two{
		margin-bottom: 5%;
	}
	p{
		font-family: 'Open Sans';
		font-size: 16px;
		  font-style: italic;
		  font-stretch: normal;
		  font-weight: normal;
		  line-height: 1.5;
		  letter-spacing: normal;
		  text-align: center;
		  color: #808080;
	}
	.contact_form{
		// padding-bottom: 18%;
		input,textarea {
			    width: 100%;
			}
			input{
				height: 43px;
				padding: 0 5px;
				border :1px solid #999999;
			}
			textarea{
				height: 163px;
				margin-bottom: 3%;
				padding: 0 5px;
				border :1px solid #999999;
			}
		.field{
			.name{
				margin-top: 3%;
				label{
					font-family: 'Open Sans';
					font-size: 14px;
				  font-weight: normal;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: 1.71;
				  letter-spacing: normal;
				  color: #636363;
					span{
						color:red;
					}
				}
			}
			.address{
				margin-top: 3%;
				label{
					font-family: 'Open Sans';
					font-size: 14px;
				  font-weight: normal;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: 1.21;
				  letter-spacing: normal;
				  color: #636363;
					span{
						color:red;
					}
				}
			}
			.messeage{
				    margin-top: 3%;
					label{
						font-family: 'Open Sans';
						font-size: 14px;
					  font-weight: normal;
					  font-style: normal;
					  font-stretch: normal;
					  line-height: 1.21;
					  letter-spacing: normal;
					  color: #636363;
						span{
							color:red;
						}
					}					
			}
			.recangle{
						// border: 1px solid #999999;;
						margin-bottom: 12%!important;
						background: #4cc2ff;
					    width: 165px;
					    height: 40px;
					    display: flex;
					    justify-content: center;
					    align-items: center;
					    font-family: 'Open Sans';
					    cursor: pointer;
  
						a{
							text-transform: uppercase;
							font-family: 'Open Sans';
							font-style: normal;
							font-size: 16px;
						  font-weight: 600;
						  font-style: normal;
						  font-stretch: normal;
						  line-height: 1.5;
						  letter-spacing: normal;
						  text-align: center;
						  color: #ffffff;
							&:hover{
								text-decoration: none;
							}
						}
						
					}
		}
		
	}
}


#footer{
	padding: 1.3% 0px;
	font-family: 'Open Sans';
	background: #222222;
	background-size: cover;
	.copyright{
		margin: 17px 0;
		box-sizing: border-box;
		p{
			font-family:'Open Sans';
			  font-size: 12px;
			  font-weight: normal;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: 3.5;
			  letter-spacing: 0.3px;
			  color: #b2b2b2;
			  text-transform: uppercase;
			  span{
			  	font-weight: bold;
			  }
			  margin: 0px;
		}
	}
	
	.social{
		.social_list{
			a{
				    // border: 2px solid #b2b2b2;
				    border-radius: 50%;
				    width: 32px;
				    height: 32px;
				    text-align: center;
				    display: inline-block;
				    margin-left: 8px;
				    &:hover{
				    	// background: #4cc2ff;
				    	// i{
				    	// 	color: #fff;
				    	// }				    	
				    }
				img{
					color: #b2b2b2;

				}
			}
		}
	}
}




